.checkbox-container{
display: flex;
margin-bottom: 30px;
}

.e-multiselect.e-input-group {
   margin-right: 20px;
}

.e-multiselect.e-input-group .e-dropdownbase{
    font-size: 17px;
    font-weight: 500;
}

.e-lastrowcell{
    font-size: 17px;
}
.search-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.serial-div{
    display: flex;
    align-items: center;
}