
.summary-container{
 display: flex;
 justify-content: space-around;
}
.profit-div{
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 20px;
}
.profit-label {
    margin-right: 20px; 
    font-weight: 500;
}