@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-navigations/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

.App{
  margin: 20px
}
.main-heading{
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration-line: underline;
}
.e-tab{
  text-align: center;
}
.e-tab .e-tab-header .e-toolbar-item .e-tab-text{
  font-size: 20px;
}